.env
*/extracted_texts
*/cleaned_text
*/merged_texts
*/pdfs
*/__pycache__
test.txt
test.ipynb
combined_context.txt
chunks.db
llm_connection.ipynb
chunks.db-journal
prompt.txt
*/chunk_database
final_prompt.txt
final_answer.txt
generated_subqueries.txt
generated_search_string.txt
*/data
*/screenshots
abstract_chroma_db
chunk_database
relevant_abstracts.txt
/data
/__pycache__
*.pyc
test.py
**/screenshots
iop.json
**/function_testing.py
output/*