.env
/extracted_texts
/cleaned_text
/merged_texts
/pdfs
/__pycache__
test.txt
test.ipynb
combined_context.txt
chunks.db
llm_connection.ipynb
chunks.db-journal
prompt.txt
.gitignore
/chunk_database
final_prompt.txt
final_answer.txt
generated_subqueries.txt